* {
   margin: 0;
   padding: 0;
   box-sizing: border-box ;
}
html,
body {
    height: 100%;
    width: 100%;
}

main{
    height: 100%;
    width: 100%;
    background-color: rgb(240, 235, 235);
    display: grid;

    grid-template-columns: 1fr 1fr;
    grid-template-rows: 10% 30% 30% 30%;

    grid-template-areas: "nav nav"
                          "section section"
                          "middle-left middle-right"
                          "footer footer";
}

nav{
    grid-area: nav;
    display: flex;
    align-items: center;
    justify-content: end;
    padding: 0px 65px;
    gap: 20px;
}

nav h4{
   font-size: 15px;
   font-weight: 300;
}

nav h4 i{
    background-color: black;
    color: white;
    padding: 10px;
    border-radius: 50%;
    font-weight: 500;
    font-size: 13px;
}

section{
    grid-area: section;
    padding: 2rem 3rem;
}

section h1{
    font-weight: 300;
    font-size:  2rem;
    font-family: sans-serif;
}

#middle-left{
     grid-area: middle-left;
    padding: 1rem 3rem;
}

#middle-left p{
    width: 60%;
    font-size: 15px;
   font-weight: 300;
}

#middle-right{
    grid-area: middle-right;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    padding-left: 20rem;
    gap: 0.5rem;
    padding-top: 20px;
    padding-bottom: 20px;
}

#middle-right .elem{
      height: 40px;
      width: 300px;
      padding: 15px;
      border-top:  solid black;
      display: flex;
      align-items: center;
      justify-content: space-between;
}

.elem i{
    opacity: 0;
    font-size: 23px;
    font-weight: 100;
}

.elem:hover i{
     opacity: 1;
}

#middle-right a{
    text-decoration: none;
    color: black;
    
}

footer{
    grid-area: footer;
     background-image: url(./practice.webp);
    background-size: cover;
    background-position: 0 29%;
}   
